<div class="bg-dark text-white text-center py-5 mb-5 shadow">
  <img src = "Logo1.png" alt="Eventiq logo" class="hero-logo">
  <div class="container py-4">
    <h1 class="display-4 fw-bold">Smarter Event Planning</h1>
    <p class="lead mb-0">Powered recommendations with lasting memories</p>
  </div>
</div>

<div class="container mb-5">
  
  <h2 class="mb-4 fw-bold">Trending Now</h2>

  <div class="row g-4">
    
    <div class="col-md-4" *ngFor="let event of trending_events">
      <div class="card h-100 shadow-sm border-1">
        
        <img [src]="event.image" class="card-img-top border-bottom" style="height: 180px; object-fit: cover;" alt="Trending Event Image">
        
        <div class="card-body d-flex flex-column">
          <h5 class="card-title fw-bold mb-1">{{ event.title }}</h5>
          <p class="text-muted small mb-3">{{ event.date }}</p>
          
          <p class="card-text mb-1">
            <strong>Venue:</strong> {{ event.venue }}
          </p>
          <p class="card-text mb-4">
            <strong>Price:</strong> £{{ event.price }}
          </p>
          
          <a [routerLink]="['/events', event._id]" class="btn btn-outline-primary mt-auto w-50">
            View Details
          </a>
        </div>
        
      </div>
    </div>
    
  </div>
</div>